<html>
<head>
<style>
    input {
        display: block;
    }
</style>
</head>
<body>
<form method="post">
<input type="text" name="username" placeholder="username" />
<input type="password" name="password" placeholder="password" />
<input type="submit" name="login" value="Login!" />
</form>
<a href="">Forgotten password?</a>
</body>
</html>
