<%
var css = [
  '/css/header.css',
  '/css/talk.css'
];

var headScripts = [
//  {
//    src: '/libs/js/require.js',
//    properties: {
//      'data-main': '/js/talk'
//    }
//  },
];

var scripts = [
  {src: '/libs/js/jquery.js'},
  {src: '/socket.io/socket.io.js'},
  {src: '/js/talk.js'}
];

var title = 'talk';

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

    <div id="content-wrap" >
      <div id="chat-wrap" >
        <div id="chat"></div>
        <form id="send-message" >
          <input size="35" id="message" />
          <input type="submit" />
        </form>
      </div>
      <div id="talk-list">
        
      </div>
    </div>

<% include ./partial/page-bottom.ejs %>
